@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --building-color1: #ffff;
    --building-color2: #F8F9FA;
    --building-color3: #57626B;
    --building-color4: #353A49;
    --building-color5: #1A73E8;
    /*var(--building-color2)/*/
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: var(--building-color4);
    
}
body {
    max-width: 1440px;
    margin: 0 auto;
    overflow-x: hidden;
}

h2{
    font-size: 35px;
    margin-bottom: 24px;
}

h3 {
    font-size: 20px;
}

p{
    font-size: 12px;
}
hr {
    border: 1px solid var(--building-color3);
    margin: 32px 0;
}

/*HEADER*/
header {
    width: 100%;
    height: 56px;
    color:var(--building-color4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:12px;
}
    
.headerLogo{
    width: 24px;
    height: 24px;
    margin: 0 0 0 24px;
}

header a{
    text-decoration: none;
    color: var(--building-color4);
    margin: 0 0 0 24px;
    transition: 0.4s;
}

header a:hover{
    color: var(--building-color5);
}

.headerNav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.headerMenu{
    display: flex;
    align-items: center;
}
#menuResalto{
    color: var(--building-color5);
    font-weight: bold;
}
.menuIcons a{
    margin: 0 23px 0 0;
}

.mostrarMenu,
.esconderMenu {
    align-self: center;
    cursor: pointer;
    color: var(--building-color5);
    display: none;
    transition: 0.4s;
}
.esconderMenu{
    font-size: 40px;
}

.menu:hover{
    color: var(--building-color5);
}

#check{
    display: none;
}
.linea {
    margin: 0;
    width: 100vw;
    position: fixed;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, #353a4900 0%, #353a4967 100%);
    height: 5px;
    border:none;
}

/*MAIN*/
main{
    width: 100%;
    display: flex;
}
.back{
    position: absolute;
    width: 100vw;
    margin-top: 52px;
    margin-bottom: 7px;
    z-index: 0;
}
.back a{
    display: flex;
    padding-left: 26px;
}

.back p{
    margin-left: 20px;
}

aside{
    width: 54px;
    margin: 142px 37px 142px 65px ;
}
aside div {
    border-radius: 100%;
    border: 1px solid var(--building-color4);
    width: 54px;
    height:54px ;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 19px;
}

aside img{
    width: 61px;
}

.earbudsProducto{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 79px;
}

.imagenProducto {
    width: 735px !important;
    height: 518px;
    background-color: var(--building-color2);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: 0.2s;
}
.imagenProducto img {
    width: 528px;
}
.producto{
    width: 40%;
    transition: 0.4s;
}
.modeloProducto {
    margin: 0 26px 125px 24px;
}

.modeloProducto p{
    margin-bottom: 24px;
}
.modeloColor{
    display: flex;
    gap: 9px;
}
#colorAzul{
    width: 40px;
    height: 40px;
    border: 1px solid var(--building-color4);
    border-radius: 100px;
    background-color: #9EC6EA;
}

#colorBeige{
    width: 40px;
    height: 40px;
    border: 1px solid var(--building-color4);
    border-radius: 100px;
    background-color: #E7E3E0;
}

#colorNegro{
    width: 40px;
    height: 40px;
    border: 1px solid var(--building-color4);
    border-radius: 100px;
    background-color: #353A49;
}

#colorGris{
    width: 40px;
    height: 40px;
    border: 1px solid var(--building-color4);
    border-radius: 100px;
    background-color: #D1D7DA;
}

#colorVerde{
    width: 40px;
    height: 40px;
    border: 1px solid var(--building-color4);
    border-radius: 100px;
    background-color: #DFE6B6;
}
#colorTerracota{
    width: 40px;
    height: 40px;
    border: 1px solid var(--building-color4);
    border-radius: 100px;
    background-color: #E08571;
}

.modeloCompra{
    margin-left: auto;
    background-color: var(--building-color2);
    border-radius: 10px;
    width: 80%;
    padding: 29px 24px;
    margin-bottom: 30px;
    transition: 0.2s
    
        
}
.compraAñadir{
    display: flex;
    gap: 9px;
}

select {
    width: 95px;
    height: 64px;
    border-radius: 10px;
    border: 1px solid var(--building-color4);
    background-color: var(--building-color1);
    background-image: url(/Recursos/images/icons/imputFlecha.svg);
    background-repeat: no-repeat;
    background-position: 70px center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    color: var(--building-color4);
    font-size: 12px;
    font-weight: bold;
    padding-left: 20px;
    
}


button{
    flex-grow: 1;
    width: auto;
    height: 64px;
    border-radius: 7px;
    border: none;
    background-color: var(--building-color5);
    color: var(--building-color1);
    font-weight: bold;

}

.modeloEnvío{
    display: flex;
    gap:4px;
    margin-top: 61px;
    font-weight: bold;
}

.modeloEnvío span{
    color: var(--building-color5);
}

/*FOOTER*/

footer{
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    height: auto;
    padding-bottom: 10px;
    background-color: var(--building-color2);
}

.footerContent {
    max-width: 1440px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; 
    color:var(--building-color4);
    align-items: center;
    font-size: 8px;
    
}

footer a{
    text-decoration: none;  
}

    
.redes-sociales{
    width: 40%;
    padding: 0;
    justify-content: space-around;
    display:inline-block;
    margin-left: 20px;
}

.redes-sociales img{
    height: 20px;
    margin-right: 15px;
}

.spain{
    display: flex;
    gap: 5px;
}
    
.privacy {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0;
    gap: 30px;
    margin-right: 20px;
}

.privacy p:hover{
    color: var(--building-color5);
}

.spain a{
    font-size: 12px;
}


/*RESPONSIVE*/

@media screen and (max-width:992px){
    /*HEADER*/
    .menuIcons img{
        width: 20px;
}
.menuIcons a{
    margin: 0 20px 0 0;
}
.linea{
    display: none;
}

/*MAIN*/
aside {
    display: none;
    
}
.back{
    margin-top: 19px;
}

.earbudsProducto{
    flex-direction: column;
    justify-content: center;
}
.imagenProducto{
    width: 95% !important;
    height: 361px;
    margin-right: auto;
    margin-left: auto;
}
.producto{
    width: 95% ;
    margin-right: auto;
    margin-left: auto;
    margin-top: 13px;
}
.modeloProducto{
    margin-bottom: 10px;
}
.modeloCompra{
    max-width: 55%;
    margin-bottom: 30px;
}

/*FOOTER*/
footer{
    width: 100%;
    position:inherit;
}
.redes-sociales{
    margin-left: 20px;
}
.redes-sociales img{
    height: 13px;
}
.privacy{
    margin-left: 0;
    gap: 10px
}
}



@media screen and (max-width:736px){
    /*HEADER*/
    header {
        box-shadow: 0 5px 5px #57626b56;
        background-color: var(--building-color1);
        position: fixed;
    }
    .mostrarMenu,
    .esconderMenu {
        display: block;
    }

    .headerNav{
        justify-content:end;
        flex-direction: row-reverse;
        margin-right: 20px;
    }

    .menu{
        background-color: var(--building-color2);
        position: fixed;
        width: 100%;
        height: 20vh;
        right: 100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
        z-index: 10;
    }

    .menu a{
        display: block;
        padding: 10px;
    }

    .esconderMenu{
        position: absolute;
        top: 20px;
        right: 20px;
    }

    #check:checked ~ .menu {
        right: 0;
    }

    /*MAIN*/
h2{
    font-size: 32px;
}
.back{
    margin-top: 75px;
    z-index: -10;
}
.earbudsProducto{
    margin-top: 105px;
}
.imagenProducto{
    height: 260px;
}
.imagenProducto img{
    width: 200px;
}

.modeloCompra{
        max-width: 85%;
        margin: 0 24px 26px auto;
}
.compraAñadir{
        display: flex;
        flex-direction: column;
        gap: 9px;
        
}
    .modeloEnvío{
        margin-top: 19px;
}

/*footer*/

.footerContent{
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 10px;
}
    
    .redes-sociales{
        width: 80%;
        display:flex;
    }
    .redes-sociales img{
        height: 30px;
        margin-right: 35px;
    }
    .privacy{
        flex-direction: column;
        line-height: 0;
        margin-top: 25px;
        gap: 15px;
    }
    
.spain{
    flex-direction: row-reverse;
    order: 10;
    line-height: 8px;
    margin-bottom: 10px;
}
}